<?php
/*
Copiez ce fichier vers includes/config.local.php

--- XAMPP (développement local) ---
$host = 'localhost';
$dbname = 'TCF';
$username = 'root';
$password = '';
$port = '';

--- Hostinger (si besoin d'override sans config.hostinger.php) ---
$host = 'localhost';
$dbname = 'u648716817_tcf_canada';
$username = 'u648716817_tcf_canada';
$password = 'votre_mot_de_passe';
$port = '';
*/

$host = 'localhost';
$dbname = 'TCF';
$username = 'root';
$password = '';
$port = '';
